# Réécrit une URL de type xxx/yyy/zzz en index.php?controleur=xxx&action=yyy&id=zzz
RewriteEngine on
RewriteCond %{REQUEST_URI} !^/assets/public/ [NC]
RewriteRule ^([a-z]*)(.*)$ index.php?controller=$1&action=$2 [NC,L,QSA]