
.basket-container{
    position: relative;
}

.basket-quantity{
    position:absolute;
    display: flex;
    background-color: red;
    width: 20px;
    height: 20px;
    right:-10px;
    top: -10px;
    justify-content: center;
    align-items:center;
    border-radius: 50%;
    color:white;
    font-size: 0.6em;
    z-index: 0 ;
}