tr.active {
  background-color: rgba(173, 216, 230, 0.5);
  border: 1px solid lightblue;
  border-radius: 5px;
}

tr,
.form-check-label {
  cursor: pointer;
}

.radio-payement {
  visibility: hidden;
}
.radio-payement:checked + i {
  color: lightblue;
}

@media (max-width: 992px) {
  #basket-buy {
    flex-direction: column !important;
  }
}

.radio-address {
  display: none;
}
